---
layout: default
title: Home
---
<style>
#homepage_ a {
color: #555;
}


#homepage_ h3 {
 margin-top:22px;

}

#homepage_ h4 {
 margin-top:16px;

}



</style>

<div class="posts">

  <div id="homepage_" class="post stickem-container" style="position:relative;overflow:hidden;">
  
     <div class="blockGroup">
      <ul class="blockGroup-list">
        {% for post in site.posts %}
          <li class="block">
            <div class="postArticle-wrapper">
              <article class="postArticle postArticle--short">

                <a class="postArticle-title" href="{{ post.url }}">{{ post.title }}</a>
              </article>
              <div class="block-postMeta">{{ post.date | date_to_string }}  {% if post.language %} - EN{% endif %}</div>
              
              {% if post.category == "android" %}
               <div class="block-postMeta" style="right:0px"><img src="{{site.baseurl}}assets/android.png"/></div>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

    
    
  </div>
</div>

