<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
  {% include ga.html %}
  

  <body>
    
    <div id="bordertop">&nbsp;</div>
    <div id="borderbottom">&nbsp;</div>
    <div id="borderleft">&nbsp;</div>
    <div id="borderright">&nbsp;</div>
    

    <div class="container content">
      <div class="masthead">
       <div class="masthead-title">
             <a href="/" title="Home"><img style="display:inline; vertical-align:middle" alt="swirl logo" src="http://andreasschrade.github.io/assets/top_signature.jpg"></a>
        </div>
        <h3 class="masthead-title">
          <small><a href="/about">About</a></small>
          
            &nbsp;&nbsp;&nbsp;
            <small><a href="/archive">Archive</a></small>
  
            &nbsp;&nbsp;&nbsp;
            <small><a href="/atom.xml">Feed</a></small>
          
            &nbsp;&nbsp;&nbsp;
            <small><a href="/impressum">Impressum</a></small>
        </h3>
      </div>
      <div class="masthead dotted">
      </div>

      {{ content }}

      <div class="footer">
        <p>
        Andreas Schrade - Android Freelancer<br>
        <img src="{{ site.url }}/assets/badges.jpg" border="0" usemap="#snetwork">
  <map name="#snetwork">
    <area shape="rect" coords="0,0,42,48" href="https://twitter.com/andreasschrade">
    <area shape="rect" coords="43,0,100,48" href="https://www.linkedin.com/in/andreasschrade">
    <br>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>

  </body>
</html>
