---
layout: default
---
<!--
<div style="margin-bottom:24px; background-color: #17a697"><a href="https://appmote.com"><img src="{{ site.url }}/assets/appmote.jpg" border="0" ></a></div>
-->
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="related">
  <span class="author_" id="hire-me" style="padding-left:5px">Author</span>
  <img src="/assets/me.png" style="float: left; margin-top: 42px;">
  <div style="margin-left: 126px">
  <h2>Andreas Schrade</h2>
  
  Android and backend freelancer with over ten years of experience, passion for performant, robust and flexible enterprise applications. The 3 most important things I offer are quality, deadline and communication. I already worked for very big international companies. Please ask for references.        <br style="clear:both">
  <br>Do you need an <i>individual Android App</i> or <i>Web Application</i>?<br><br>Just contact me: <b> blog //at// andreas-schrade.de </b><br> <br>
  <img src="{{ site.url }}/assets/twitter-gplus.jpg" border="0" usemap="#snetwork">
  <map name="#snetwork">
    <area shape="rect" coords="0,0,47,35" href="https://twitter.com/andreasschrade">
    <area shape="rect" coords="48,0,95,35" href="https://plus.google.com/+AndreasSchrade">
    </div>
</div>

 {% include comments.html %}

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.url }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>


<div class="hireme"><a href="#hire-me">Hire me!</a></div>
