---
layout: default
---
<!--
<div style="margin-bottom:24px; background-color: #17a697"><a href="https://appmote.com"><img src="{{ site.url }}/assets/appmote.jpg" border="0" ></a></div>
-->

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>


<!--End MailChimp Head -->


<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>


<!-- Begin Mailchimp round number 2 -->
<div id="mc_embed_signup">
<form action="//exynap.us14.list-manage.com/subscribe/post?u=be36936da288eb536563e6afd&amp;id=19b27ddc9b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL" style="font-size:16px">Sign up for</label>
  <label for="mce-EMAIL" style="font-size:24px; color: #f55567">5-Bullet Android Friday</label>
  <label for="mce-EMAIL" style="font-size:16px">My Weekly Dose of Tips and Tricks</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Your Email" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_be36936da288eb536563e6afd_19b27ddc9b" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!-- End Mailchimp round number 2 -->


<div class="related">
  <span class="author_" id="hire-me" style="display:block; margin-left: 126px;">Author</span>
  <img src="/assets/me_small.png" style="float: left; margin-top: 10px;">
  <div style="margin-left: 126px">
  <h2>Andreas Schrade</h2>
  I’m Andreas a freelance Android Developer based in Germany. I serve agencies, corporations and start-ups worldwide. My passion is the development of customer- and user-focused state of the art Android apps. <a href="/about">More</a>        <br style="clear:both">
  <br>Just contact me: <script type="text/javascript">
var emailE=("hi"+ "@" + "andreas-schrade.de");
document.write("<strong><A href='mailto:" + emailE + "'>" + emailE + "</a></strong>");
</script>
<NOSCRIPT>
hi //at// andreas-schrade.de
</NOSCRIPT>
<br> <br>
  <img src="{{ site.url }}/assets/twitter-gplus.jpg" border="0" usemap="#snetwork">
  <map name="#snetwork">
    <area shape="rect" coords="0,0,47,35" href="https://twitter.com/andreasschrade">
    <area shape="rect" coords="48,0,95,35" href="https://plus.google.com/+AndreasSchrade">
    </div>
</div>




 {% include comments.html %}

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.url }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<span style="font-weight:bold">
The owner of this website, "andreas-schrade.de", is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking http://www.andreas-schrade.de to Amazon properties including, but not limited to, amazon.com, endless.com, myhabit.com, smallparts.com, or amazonwireless.com.
</span>

<div class="hireme"><a href="#hire-me">Hire me!</a></div>
